<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="img/favicon.ico" type="image/ico">
  <title>Webpack</title>
</head>

<body>
  <div class="wrapper">
    {{>header}}
    <main>
      <section class="main">
        <div class="container">
          <h1>Conact Page!</h1>
        </div>
      </section>
    </main>
    {{>footer}}
  </div>
</body>

</html>