.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  // Прижимаем footer
  >main {
    flex: 1 1 auto;
  }

  // Фикс для слайдеров
  >* {
    min-width: 0;
  }
}

.container {
  max-width: rem($maxWidthContainer);
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 rem(math.div($containerPadding, 2));
}