$fontFamily: 'Montserrat-bold';
$fontSize: 14px;
$mainColor: #000;
$minWidth: 320;
$maxWidthContainer: 1320;
$containerPadding: 30; // 15px left && 15px right
$containerWidth: $maxWidthContainer+$containerPadding;